.suggest {
    background: #fff;
    display: none;
  }

  .suggest ul {
    list-style: none;
  }

  .suggest ul li {
    padding-left: 5%;
    font-size: 17px;
    line-height: 40px;
    text-align: left;
    color: #000;
    font-weight: 400;
  }

  .suggest ul li:hover {
    font-weight: bolder;
  }